<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>New Route</title>
  </head>
  <body>
    <h1>New Recipe Page</h1>
    <form class="new-recipe" action="/recipes/" method="post">
      Recipe Name: <input type="text" name="name" value="">
      Author: <input type="text" name="author" value="">
      Link to page: <input type="text" name="link" value="">
      Image Address: <input type="text" name="img" value="">
      Ingredients: <input type="text" name="ingredients" value="">
      Directions: <input type="text" name="directions" value="">
      <input type="submit" name="" value="Submit Recipe">
    </form>
  </body>
</html>
